{% extends 'main_app/base.html' %}
{% load my_tags %}
{% block content %}
<!doctype html>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <p class="card-text">{{object.product_name}}</p>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <img class="card-img-top"
                             src="{{ object.image|mediapath }}"
                             alt="Card image cap"
                             style="width: 150px; height: 150px;"/>
                        <p class="card-text">Цена: </p>
                        <p class="card-text">{{object.price}}</p>
                        <p class="card-text">Описание товара</p>
                        <p class="card-text">{{object.description}}</p>
                        <div class="btn-group">
                            <a href="{% url 'main_app:update_product' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Внести изменения</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}