{% extends 'main_app/base.html' %}
{% load my_tags %}
{% block content %}
<!doctype html>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Продукты</h1>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                         src="{{ object.image|mediapath }}"
                         src="{% mediapath object.image %}"
                         alt="Card image cap"
                         style="width: 150px; height: 150px;">
                    <div class="card-body">
                        <p class="card-text">{{object|truncatechars:100}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" type="button" class="btn btn-sm btn-outline-secondary">Карточка товара</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}