{% extends 'main_app/base.html' %}
{% load my_tags %}
{% block content %}
<!doctype html>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                         src="{{ object.image|mediapath }}"
                         alt="Card image cap"
                         style="width: 150px; height: 150px;">
                    <div class="card-body">
                        <p class="card-text">{{object.product_name|title}}</p>
                        <p class="card-text">{{object.price}}</p>
                        <p class="card-text">{{object.description|truncatechars:100}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button"
                                        onclick="window.location.href='{% url 'main_app:card_product' object.pk %}'"
                                        class="btn btn-outline-secondary">Карточка товара
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
